@use '../util' as *;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-style: normal;
  font-weight: normal;
  scroll-behavior: smooth;
}

html,
body {
  box-sizing: border-box;
  font-family: var(--ff-primary);
  color: var(--clr-white);
  background-color: var(--clr-black);
}

body {
  position: relative;

  @include breakpoint(desktop) {
    overflow-x: hidden;
  }
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: rem(1);
  width: rem(1);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
