@use '../util/' as *;

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 0 rem(20);
  margin: 0;

  &__rings {
    position: absolute;
    right: 50%;
    top: rem(130);
    z-index: -1;
    height: auto;
  }

  &__circle {
    position: absolute;
    top: rem(171);
    right: -50%;
  }

  &__body {
    h1 {
      font-size: rem(40);
      line-height: rem(40);
      letter-spacing: rem(-1.14);
      margin-bottom: rem(30);

      span {
        border-bottom: 2px solid var(--clr-success);
      }
    }

    p {
      font-size: rem(16);
      line-height: rem(26);
      margin-bottom: rem(20);
    }
  }
}
