@use '../util' as *;

.btn {
  --webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  @media (prefers-reduced-motion: no-preference) {
    transition: var(--transition);
  }

  &-primary {
    text-transform: uppercase;
    color: var(--clr-white);
    text-decoration: none;
    border-bottom: rem(2) solid var(--clr-primary);
    font-size: rem(16);
    line-height: rem(26);
    letter-spacing: rem(2.29);
    padding-block-end: rem(10);

    &:hover {
      color: var(--clr-primary);
    }

    &:focus {
      color: var(--clr-primary);
      outline: rem(1) solid var(--input-outline);
      border-bottom-color: var(--clr-primary);
      box-shadow: var(--box-shadow);
    }
  }

  &-toast {
    position: absolute;
    top: rem(5);
    right: rem(5);
    background: transparent;
    color: var(--clr-gray-dark);
    border: none;
    padding: rem(5);

    svg path {
      fill: var(--clr-gray-dark);
    }
  }
}
