@use '../util' as *;

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  transition: var(--transition);

  &-primary {
    text-transform: uppercase;
    color: var(--clr-white);
    text-decoration: none;
    border-bottom: rem(2) solid var(--clr-primary);
    font-size: rem(16);
    line-height: rem(26);
    letter-spacing: rem(2.29);
    padding-block-end: rem(10);

    &:hover {
      color: var(--clr-primary);
    }
  }
}
