@use '../util' as *;

.contact {
  position: relative;
  background-color: var(--clr-gray-dark);
  padding-block: rem(60);
  padding-inline: rem(16);
  margin-inline: auto;
  overflow-x: hidden;

  &::before {
    content: '';
    position: absolute;
    display: block;
    background-image: var(--header-bg-start);
    top: rem(436);
    left: rem(-340);
    height: rem(129);
    width: rem(530);
  }

  @include breakpoint(tablet) {
    padding-inline: rem(30);
    padding-block-end: rem(40);

    &::before {
      top: rem(547);
    }
  }

  @include breakpoint(desktop) {
    &::before {
      top: rem(325);
    }
  }

  .social {
    margin-block-start: rem(39);
    max-width: var(--max-width);
    margin-inline: auto;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: rem(50);
    width: 100%;

    @include breakpoint(tablet) {
      max-width: rem(445);
      margin-inline: auto;
    }

    @include breakpoint(desktop) {
      max-width: var(--max-width);
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      gap: rem(220);
    }

    > div,
    > form {
      flex: 1 1 50%;
    }
  }

  hr {
    max-width: var(--max-width);
    margin-inline: auto;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: rem(20);

    h2 {
      font-size: rem(40);
      line-height: rem(40);
      letter-spacing: rem(-1.14);
    }

    p {
      font-size: rem(16);
      line-height: rem(26);
    }

    @include breakpoint(tablet) {
      align-items: flex-start;
      text-align: left;
      h2 {
        font-size: rem(72);
        line-height: rem(72);
        letter-spacing: rem(-2.05);
      }

      p {
        font: var(--body);
      }
    }

    @breakpoint (desktop) {
      h2 {
        font: var(--heading-xl);
        letter-spacing: rem(-2.5);
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: rem(32);
    margin-block-end: rem(87);

    .btn {
      align-self: flex-end;
    }

    &-group {
      position: relative;

      &.is-invalid-input input,
      &.is-invalid-input textarea {
        outline: rem(1) solid var(--input-outline-error);
        border-bottom-color: var(--clr-error);
        box-shadow: var(--box-shadow-error);

        &::placeholder {
          color: var(--clr-error);
        }
      }
    }

    @include breakpoint(tablet) {
      margin-block-end: rem(92);
    }
  }
}
