@use '../util' as *;

.contact {
  position: relative;
  background-color: var(--clr-gray-dark);
  padding-block: clamp(rem(60), 10vh, rem(120));
  padding-inline: clamp(rem(16), 4vw, rem(32));
  margin-inline: auto;
  overflow-x: hidden;

  &::before {
    content: '';
    position: absolute;
    display: block;
    background-image: var(--header-bg-start);
    top: rem(436);
    left: rem(-340);
    height: rem(129);
    width: rem(530);
  }

  @include breakpoint(tablet) {
    padding-inline: clamp(rem(30), 6vw, rem(64));
    padding-block-end: clamp(rem(20), 5vh, rem(40));

    &::before {
      top: rem(547);
    }
  }

  @include breakpoint(desktop) {
    &::before {
      top: rem(325);
    }
  }

  .social {
    margin-block-start: clamp(rem(40), 8vh, rem(80));
    max-width: var(--max-width);
    margin-inline: auto;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: rem(50);
    width: 100%;

    @include breakpoint(tablet) {
      max-width: rem(445);
      margin-inline: auto;
    }

    @include breakpoint(desktop) {
      max-width: var(--max-width);
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      gap: rem(220);
    }

    > div,
    > form {
      flex: 1 1 50%;
    }
  }

  hr {
    max-width: var(--max-width);
    margin-inline: auto;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: rem(20);

    h2 {
      font-size: rem(40);
      line-height: rem(40);
      letter-spacing: rem(-1.14);
    }

    p {
      font-size: rem(16);
      line-height: rem(26);
    }

    @include breakpoint(tablet) {
      align-items: flex-start;
      text-align: left;
      h2 {
        font-size: rem(72);
        line-height: rem(72);
        letter-spacing: rem(-2.05);
      }

      p {
        font: var(--body);
      }
    }

    @include breakpoint(desktop) {
      h2 {
        font: var(--heading-xl);
        letter-spacing: rem(-2.5);
      }
    }
  }

  &__form {
    margin-block-end: rem(87);

    &-fieldset {
      display: flex;
      flex-direction: column;
      gap: rem(32);
      border: none;

      .btn {
        align-self: flex-end;
      }
    }

    &-group.is-invalid-input input,
    &-group.is-invalid-input textarea {
      outline: rem(1) solid var(--input-outline-error);
      border-bottom-color: var(--clr-error);
      box-shadow: var(--box-shadow-error);
    }

    &-group.is-invalid-input input::placeholder,
    &-group.is-invalid-input textarea::placeholder {
      color: var(--clr-error);
    }

    @include breakpoint(tablet) {
      margin-block-end: clamp(rem(60), 12vh, rem(92));
    }
  }
}

.success-toast {
  padding: clamp(rem(16), 2vw, rem(24));
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: rem(24);
}
