@use '../util' as *;

input,
textarea {
  --webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  width: 100%;
  font-family: inherit;
  font-size: rem(16);
  line-height: rem(26);
  letter-spacing: rem(-0.22);
  border-bottom: rem(1) solid var(--clr-white);
  padding-inline: rem(24);
  @media (prefers-reduced-motion: no-preference) {
    transition: var(--transition);
  }

  color: var(--clr-white);

  &::placeholder {
    color: var(--placeholder);
    @media (prefers-reduced-motion: no-preference) {
      transition: var(--transition);
    }
  }

  &:hover {
    border-bottom-color: var(--clr-primary);
    &::placeholder {
      color: var(--placeholder-hover);
    }
  }

  &:focus {
    outline: rem(1) solid var(--input-outline);
    border-bottom-color: var(--clr-primary);
    box-shadow: var(--box-shadow);
  }
}

input {
  height: rem(43);
}

textarea {
  height: rem(107);
}

.is-invalid {
  position: absolute;
  display: block;
  right: 0;
  font-size: rem(12);
  line-height: rem(16);
  letter-spacing: rem(-0.17);
  color: var(--clr-error);
  margin-block-start: rem(5);

  &.icon {
    top: 50%;
    transform: translateY(-50%);
    width: rem(24);
    height: rem(24);
    fill: var(--clr-error);
  }
}
