@use '../util' as *;

.social {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block-start: rem(20);
  gap: rem(20);

  p {
    font: normal normal 700 #{rem(24)} / #{rem(32)} var(--ff-primary);
    letter-spacing: rem(-0.33);
    text-align: center;
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: rem(26);

    a {
      border-radius: 50%;
      svg path {
        @media (prefers-reduced-motion: no-preference) {
          transition: var(--transition);
        }

        @media (prefers-reduced-motion: reduce) {
          transition: none;
        }
      }
      &:hover,
      &:focus {
        outline: rem(1) solid var(--input-outline);
        box-shadow: var(--box-shadow);
        svg path {
          fill: var(--clr-primary);
        }
      }
    }
  }

  @include breakpoint(tablet) {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: rem(30);
    gap: 0;
    z-index: 100;

    p {
      font-size: rem(32);
      letter-spacing: rem(-0.44);
      text-align: left;
    }

    &__links {
      gap: rem(32);
    }
  }

  @include breakpoint(desktop) {
    margin-block-start: rem(40);
    padding-inline: rem(0);
  }
}
