:root {
  --clr-black: #151515;
  --clr-white: #ffffff;
  --clr-gray-dark: #242424;
  --clr-gray-light: #d9d9d9;
  --clr-green: #4ee1a0;
  --clr-red: #ff6f5b;
  --clr-success: var(--clr-green);
  --clr-error: var(--clr-red);
  --background: var(--clr-black);
  --text-color: var(--clr-white);
  --text-color-gray: var(--clr-gray-light);
  --link-hover: var(--clr-green);
}
